@model ElectionCreateViewModel 

@{
    bool editMode = ViewBag.EditMode ?? false;
    ViewBag.Title = "Crear una elección";
    Layout = "_LayoutAdministrator";
}

@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <p class="text-center">@Html.Raw(ViewBag.Message.Replace("\n", "<br />"))</p>
            <br/>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<div class="col-12 col-md-4 offset-4">
    <div class="card">
        
        <div class="card-header bg-primary text-center text-light">
            Crear una nueva election
        </div>

        <div class="card-body">
            <form asp-controller="Election" asp-action="Create" method="post">
                <input type="hidden" asp-for="Id" value="@Model.Id"/>
                                
                <div class="mt-2">
                    <label class="form-label" asp-for="Name">Nombre de la elección:</label>
                    <input class="form-control" asp-for="Name"/>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                
                <div class="mt-2">
                    <label class="form-label" asp-for="Date">Fecha de realización:</label>
                    <input class="form-control" asp-for="Date"/>
                    <span class="text-danger" asp-validation-for="Date"></span>
                </div>

               <div class="mt-4 float-end">
                    <button class="btn btn-outline-success me-2" type="submit">Guardar</button>
                    <a class="btn btn-outline-warning" asp-controller="Election" asp-action="Index">Volver al index</a>
                </div>
            </form>
        </div>
    </div>
</div>