@model PoliticalPartyCreateViewModel 

@{
    bool editMode = ViewBag.EditMode ?? false;
    ViewBag.Title = "Creación de partidos políticos";
    Layout = "_LayoutAdministrator";
}

@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <p class="text-center">@Html.Raw(ViewBag.Message.Replace("\n", "<br />"))</p>
            <br/>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<div class="col-12 col-md-6 offset-3">
    <div class="card">
        
        <div class="card-header bg-primary text-center text-light">
            Registrar un partido político
        </div>

        <div class="card-body">
            <form asp-controller="PoliticalParty" asp-action="Create" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" value="@Model.Id"/>
                <input type="hidden" asp-for="IsActive" value="@Model.IsActive"/>
                                
                <div class="mt-2">
                    <label class="form-label" asp-for="Name">Nombre</label>
                    <input class="form-control" asp-for="Name"/>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                
                <div class="mt-2">
                    <label class="form-label" asp-for="Acronym">Acronimo:</label>
                    <input class="form-control" asp-for="Acronym"/>
                    <span class="text-danger" asp-validation-for="Acronym"></span>
                </div>

                <div class="mt-2">
                    <label class="form-label" asp-for="LogoFile">Logo:</label>
                    <input class="form-control" asp-for="LogoFile"/>
                    <span class="text-danger" asp-validation-for="LogoFile"></span>
                </div>
                
                <div class="mt-2">
                    <label class="form-label" asp-for="Description">Descripión:</label>
                    <textarea class="form-control" rows="4" asp-for="Description"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>

                <div class="mt-4 float-end">
                    <button class="btn btn-outline-success me-2" type="submit">Guardar</button>
                    <a class="btn btn-outline-warning" asp-controller="PoliticalParty" asp-action="Index">Volver al index</a>
                </div>
            </form>
        </div>
    </div>
</div>